<% content_for(:head) do %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
    <%#= stylesheet_link_tag 'jquery-ui-1.8.16.custom' %>
<% end %>

<div class="small-search">
  <div class="rooms">
    <label for="rooms_count">Комнат</label><br/>
    <%= collection_select(:flat, :rooms_count, RoomCount.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="rent_period">
    <label for="rent_period">Срок аренды</label><br/>
    <%= collection_select(:flat, :rent_period, RentPeriod.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="prepayment">
    <label for="prepayment">Предоплата</label><br/>
    <%= collection_select(:flat, :prepayment, Prepayment.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="metro">
    <label for="metro">Метро</label><br/>
    <input type="text" name="metro" placeholder="Баррикадная" id="metro" value="">
  </div>

  <div class="address">
    <label for="address">Улица</label><br/>
    <input type="text" name="address" placeholder="" value="">
  </div>

  <div class="balkon">
    <label for="balkon">Балкон</label><br/>
    <%= collection_select(:flat, :balkon, Balkon.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="living_space">
    <label for="living_space">Площадь</label><br/>
    <input type="text" name="living_space" placeholder="" value="">
  </div>

  <div class="price">
    <label for="price">Цена</label><br/>
    <input type="text" name="price_from" placeholder="от" value="" size="6">
    <input type="text" name="price_to" placeholder="до" value="" size="6">
  </div>

  <br/>
  <input type="submit" value="Показать на карте" class="q-search-submit" onclick="searchResults()"></input>
  <br/>
  <input type="submit" value="Показать списком" class="q-search-submit" onclick="searchResultsList()"></input>
</div>

<script type="text/javascript">
    function searchResults() {
        var params = ""
        flat_rooms_count = $("#flat_rooms_count").val();
        if (flat_rooms_count) {
            if (params != "") {
                params = params + "&flat_rooms_count=" + flat_rooms_count
            } else {
                params = params + "flat_rooms_count=" + flat_rooms_count
            }
        }

        if (params != "") {
            $.get('/search.json/?' + params, function(newItemData) {
                Gmaps.map.replaceMarkers(newItemData);
            });
        }
    }
    function searchResultsList() {
        window.locate("/flats")
    }

    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }
    $("#metro")
            .autocomplete({
                source: function(request, response) {
                    $.getJSON("/metros/by_metro", {
                        term: extractLast(request.term)
                    }, response);
                },
                search: function() {
                    var term = extractLast(this.value);
                    if (term.length < 2) {
                        return false;
                    }
                },
                select: function(event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    this.value = ui.item.value;
                    $(this).attr("object_name", ui.item.object);
                    $(this).attr("object_id", ui.item.id);
                    return false;
                }
            });
</script>