<%#= @flat.seo_title %>
<%#= @flat.seo_keywords %>
<%#= @flat.seo_description %>

<div id="inner-content" class="li-no-style">

  <div class="flat-left">
    <% if @flat.flat_images.size > 0 %>
        <h2>Фотографии</h2>
        <%= image_tag @flat.flat_images.first.image.url(:inner), :alt => @flat.address, :class => "flat-big" %>
        <% @flat.flat_images.each do |image| %>
            <%= link_to (image_tag image.image.url(:list)), image.image.url(:gallery), :rel => 'gallery' %>
        <% end %>
        <div class="g-clearfix"></div>
    <% end %>

  </div>
  <div class="flat-right">
    <%= title(@flat.address) %>

    <%= link_to t('backend.actions.edit'), edit_flat_path(@flat) if can?(:edit, @flat) %>
    <%= raw "<br/>" if can?(:edit, @flat) %>

        <p>
          <b><%= t('activerecord.attributes.flat.lot_number') %>:</b> <%= @flat.id %>
        </p>

    <% if RoomCount.by_id(@flat.rooms_count) %>
        <p>
          <b><%= t('activerecord.attributes.flat.rooms_count') %>:</b> <%= RoomCount.by_id(@flat.rooms_count) %>
        </p>
    <% end %>

    <% if RentPeriod.by_id(@flat.rent_period) %>
        <p>
          <b><%= t('activerecord.attributes.flat.rent_period') %>:</b> <%= RentPeriod.by_id(@flat.rent_period) %>
        </p>
    <% end %>

    <% if @flat.price? %>
        <p>
          <b><%= t('activerecord.attributes.flat.price') %>:</b> <%= @flat.price %>
        </p>
    <% end %>

    <% if Prepayment.by_id(@flat.prepayment) %>
        <p>
          <b><%= t('activerecord.attributes.flat.prepayment') %>:</b> <%= Prepayment.by_id(@flat.prepayment) %>
        </p>
    <% end %>

    <% if @flat.address? %>
        <p>
          <b><%= t('activerecord.attributes.flat.address') %>:</b> <%= @flat.address %>
        </p>
    <% end %>

    <% if @flat.metro? %>
        <p>
          <b><%= t('activerecord.attributes.flat.metro') %>:</b> <%= @flat.metro %>
        </p>
    <% end %>

    <% if RemoteType.by_id(@flat.remote_type) && @flat.remote_time %>
        <p>
          <b><%= t('activerecord.attributes.flat.remote_type') %>:</b> <%= "#{RemoteType.by_id(@flat.remote_type)}, #{@flat.remote_time} минут" %>
        </p>
    <% end %>

    <% if Balkon.by_id(@flat.balkon) %>
        <p>
          <b><%= t('activerecord.attributes.flat.balkon') %>:</b> <%= Balkon.by_id(@flat.balkon) %>
        </p>
    <% end %>

    <% if WC.by_id(@flat.wc) %>
        <p>
          <b><%= t('activerecord.attributes.flat.wc') %>:</b> <%= WC.by_id(@flat.wc) %>
        </p>
    <% end %>

    <% if @flat.full_space? %>
        <p>
          <b><%= t('activerecord.attributes.flat.full_space') %>:</b> <%= @flat.full_space %>
        </p>
    <% end %>
    <% if @flat.living_space? %>
        <p>
          <b><%= t('activerecord.attributes.flat.living_space') %>:</b> <%= @flat.living_space %>
        </p>
    <% end %>
    <% if @flat.kitch_space? %>
        <p>
          <b><%= t('activerecord.attributes.flat.kitch_space') %>:</b> <%= @flat.kitch_space %>
        </p>
    <% end %>

    <% if @flat.floor? %>
        <p>
          <b><%= t('activerecord.attributes.flat.floor') %>:</b> <%= @flat.floor %> (<%= @flat.floor_count %>)
        </p>
    <% end %>

    <% if @flat.renter_info && !current_user.nil? && (current_user.manager? || @flat.agent_id == current_user.id) %>
        <p>
          <b><%= t('activerecord.attributes.flat.renter_info') %>:</b> <%= @flat.renter_info %>
        </p>
    <% end %>

    <% if @flat.description? %>
        <p>
          <b><%= t('activerecord.attributes.flat.description') %>:</b> <%= raw @flat.description %>
        </p>
    <% end %>

    <% if FlatType.by_id(@flat.rent_type) %>
        <p>
          <b><%= t('activerecord.attributes.flat.rent_type') %>:</b>
          <%= FlatType.by_id(@flat.rent_type) %>
        </p>
    <% end %>
  </div>

  <%= gmaps({
                    "map_options" => {
                            "zoom" => 13
                    },
                    "markers" => {
                            "data" => @flats_to_map
                    }
            }) %>


</div>

<script type="text/javascript">
    $(document).ready(function () {
//        var centerpoint = new google.maps.LatLng(<%#= @flat.latitude %>, <%#= @flat.longitude %>);

//        Gmaps.map.setCenter(centerpoint);
//        Gmaps4Rails.map.setCenter(centerpoint);

        $("a[rel=gallery]").fancybox({
            'transitionIn':'none',
            'transitionOut':'none',
            'titlePosition':'over'
        });
    });
</script>