<%= form_for(@tender, :html => {:multipart => true}) do |f| %>

    <%= render 'shared/error_messages', :target => @tender %>

    <%= f.hidden_field :owner_id, :value => current_user.id if !current_user.nil? && @tender.new_record? %>

    <div class="field">
      <%= f.label "Представьтесь" %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Контактная информация" %>
      <br/>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label I18n.t('activerecord.attributes.flat.flat_type') %>
      <br/>
      <%= f.collection_select(:flat_type, FlatType.collection, :cut, :name, :prompt => true) %>
    </div>

    <div class="field">
      <%= f.label I18n.t('activerecord.attributes.flat.rooms_count') %>
      <br/>
      <%= f.collection_select(:rooms_count, RoomCount.collection, :cut, :name, :prompt => true) %>
    </div>

    <div class="field">
      <%= f.label I18n.t('activerecord.attributes.flat.rent_period') %>
      <br/>
      <%= f.collection_select(:rent_period, RentPeriod.collection, :cut, :name, :prompt => true) %>
    </div>
    <div class="field">
      <%= f.label "Метро" %>
      <br/>
      <%= f.text_field :metro, :class => "auto_metro" %>
    </div>
    <div class="field">
      <%= f.label "Стоимость аренды" %>
      <br/>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label "Описание, комментарии" %>
      <br/>
      <%= f.text_area :description, :cols => 55, :rows => 5 %>
    </div>

    <% if !current_user.nil? && (current_user.manager?) %>
        <hr/>
        <div class="field clearfix">
          <%= f.label I18n.t('activerecord.attributes.tender.agent_id') %>
          <br/>
          <%= f.collection_select(:agent_id, User.only_internal, :id, :email, :promt => true) %>
        </div>
    <% end %>

    <% if !current_user.nil? && (current_user.manager? || @tender.agent_id == current_user.id) %>
        <div class="field clearfix">
          <%= f.label I18n.t('activerecord.attributes.tender.client_status') %>
          <br/>
          <%= collection_select(:client_status, :operation, RentStatus.collection, :cut, :name, :prompt => false) %>
        </div>

        <div class="field">
          <%= f.label I18n.t('activerecord.attributes.tender.comments') %>
          <br/>
          <%= f.text_area :comments, :cols => 55, :rows => 5 %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit "В работу" %>
    </div>
<% end %>