<div class="placeholder">
  <div class="WidgetBackgroundRotator " id="Widget66">
    <!--[if IE]>
    <style type="text/css">
        #s2 img {
            -ms-interpolation-mode: bicubic !important;
        }
    </style>
    <![endif]-->

    <div id="headertxt">
      <div id="firstline"></div>
      <!--<div id="secondline">-->
      <!--<a href="/en/page/59/">The Park</a>-->
      <!--<a href="/en/page/48/">Buildings</a>-->
      <!--</div>-->
    </div>

    <div id="s2" class="slideshow">
      <% @backgrounds.each_with_index do |image, i| %>
          <%= image_tag image.image.url(:original), :id => "img#{i}", :rel => "s2img", :rel => "#{i}" %>
      <% end %>
    </div>

  </div>
</div>

<div id="Content" class="grid-12 boxes">
  <div class="grid-4">
    <div class="placeholder">
      <div class="WidgetNews " id="Widget61">
        <h3>Услуги</h3>
      </div>
      <div class="WidgetText " id="Widget67">
        <div class="widgetcontent">
          <ul>
            <li><a href="/flats/new">Сдать</a> / <a href="/search">Снять</a></li>
            <li><a href="#">Продать</a> / <a href="#">Купить</a></li>
            <li><a href="/tenders/new">Оставить заявку</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-4">
    <div class="placeholder">
      <div class="WidgetText " id="Widget60">
        <div class="widgetcontent">
          <%= render "layouts/search_form" %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-4 omega">
    <div class="placeholder">
      <div class="WidgetText " id="Widget62">
        <div class="widgetcontent connect">
          <H3>Связь</H3>
          <UL>
            <LI><A href="#" target=_self>(495) 517-79-92</A></LI>
            <LI><A href="/address">Адрес</A></LI>
            <LI><A href="/tenders/new">Онлайн консультант</A></LI>
          </UL>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="Footer" style="position: fixed;">
  <%= render "layouts/footer" %>
</div>


<script type="text/javascript">
    var circles = [
        <% @specials.each do |special| %>
        "<%= raw("<img src='#{special.preview.url(:original)}' onclick='goSpecial(#{special.id})' />") %>"<%= ", " if @specials.last != special  %>
        <% end %>
    ];

    $('#s2')
            .before('<div id="headernav">')
            .cycle({
                fx:'fade',
                speed:800,
                timeout:10000,
                pager:'#headernav',
                slideResize:0,
                fit:1,
                before:onBefore,
                after:onAfter
            });

    function onBefore() {
        var selector = '#' + $(this).attr('id');

        $("#s2").backgroundScale({
            imageSelector:selector,
            centerAlign:false,
            containerPadding:80
        });

        $("#headertxt").fadeOut();
    }

    function onAfter() {
        $("#firstline").html(circles[$(this).attr('rel')]);
        $("#headertxt").fadeIn();
    }

    $("#headernav").click(function () {
        $('#s2').cycle('pause');
    });

    function goSpecial(id) {
        window.location = '/statics/' + id;
    }
</script>