<%= form_for(@import, :builder => StarsFormBuilder, :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', :target => @import %>

    <div class="field">
      <%= f.label "Выберите файл для импорта" %>
      <br/>
      <%= f.file_field :file %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Начать импорт" %>
    </div>
<% end %>
