<%= form_for(@import, :builder => StarsFormBuilder, :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', :target => @import %>

    <div class="field">
      <%= f.label "Выберите *.XLS файл соответствующего формата" %>
      <br/>
      <%= f.file_field :file %>
    </div>
    <p><b>* Ниже представлен порядок столбцов файла импорта. Он не может быть изменен во входящем файле, в противном
      случае результаты импорта окажутся не применимыми в поиске и работе.</b></p>
    <p>VID_SD/VID_OB/NOMBER/DATE/STREET/METRO/TIMETOGO/HOWTOGO/ROOMS/TOTALAREA/LIVAREA/KITCHAREA/RIZ/RSM/MONEY/CUR/VID_OPL/STATUS/FLOOR/TOTFLOOR/TYPE_/WINDOW/BALK/SU/POTOLOK/POL/LIFT/MUSOR/MEBEL/HOLOD/TV/PREF/MONTHES/AUXINF/PRELIM/TEL/PHONE1/PHONE2/HOST/BEGINDATE/PRIM1/PRIM2</p>
    <div class="actions">
      <%= f.submit "Импортировать" %>
    </div>
<% end %>
