<div id="inner-content" class="li-no-style">
  <%= title(t('statics.index.title')) %>

  <table>
    <tr>
      <th><%= t('activerecord.attributes.static.title') %></th>
      <th><%= t('activerecord.attributes.static.content') %></th>
      <th><%= t('activerecord.attributes.static.parent_id') %></th>
      <th><%= t('activerecord.attributes.static.short_url') %></th>
      <th><%= t('activerecord.attributes.static.seo_title') %></th>
      <th><%= t('activerecord.attributes.static.seo_keywords') %></th>
      <th><%= t('activerecord.attributes.static.seo_description') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @statics.each do |static| %>
        <tr>
          <td><%= static.title %></td>
          <td><%= static.content %></td>
          <td><%= static.parent_id %></td>
          <td><%= static.short_url %></td>
          <td><%= static.seo_title %></td>
          <td><%= static.seo_keywords %></td>
          <td><%= static.seo_description %></td>
          <td><%= link_to(t('backend.actions.show'), static) if can?(:show, static) %></td>
          <td><%= link_to(t('backend.actions.edit'), edit_static_path(static)) if can?(:edit, static) %></td>
          <td><%= link_to(t('backend.actions.destroy'), static, :confirm => t('backend.actions.are_you_sure'), :method => :delete) if can?(:destroy, static) %></td>
        </tr>
    <% end %>
  </table>

  <p><%= link_to(t('helpers.submit.create', :model => t('activerecord.models.static')), new_static_path) if can?(:create, Static) %></p>
</div>