<table class="flats flats-admin" cellspacing="0">
  <tr class='even-first'>
    <th width="70%"><%= "ФИО" %></th>
    <th width="30%"><%= "Телефон" %></th>
    <!--<th width="20%"><%= "Роль в системе" %></th>-->
  </tr>

  <% @agents.each_with_index do |user, i| %>
      <tr <%= "class='even'" if i%2 != 0 %>>
        <td><%= link_to raw("#{user.email} #{user.name} #{user.surname}"), "/user/#{user.id}/edit" %></td>
        <td><%= "#{user.phone}" %></td>
        <!--<td><%#= Role.by_id(user.role_id) %></td>-->
      </tr>
  <% end %>
</table>
