<% if @flats.size > 0 %>
    <table class="flats flats-admin" cellspacing="0">
      <tr class='even-first'>
        <th width="13%">№</th>
        <th width="11%">Стоимость</th>
        <th width="14%">Изменена</th>
        <th width="40%">Адрес</th>
        <th width="10%">Агент</th>
        <th width="12%">Статус</th>
      </tr>
      <% @flats.each_with_index do |flat, i| %>
          <tr <%= "class='even'" if i%2!=0 %>>
            <td><%= link_to("#{flat.id} / #{t('backend.actions.edit')}", edit_flat_path(flat)) if can?(:edit, flat) %></td>
            <td><%= flat.price %></td>
            <td><%= flat.updated_at.strftime("%d %h - %H:%M") %></td>
            <td><%= raw "#{flat.address} <b>#{flat.metro}</b>" %></td>
            <td><%= flat.agent.name unless flat.agent.nil? %></td>
            <td title="<%= flat.internal_comments %>"><%= RentStatus.by_id(flat.rent_status_id) %></td>
          </tr>
      <% end %>
    </table>
<% end %>