<table>
  <tbody>
  <tr>
    <td colspan="4"><%= link_to("Импортировать XLS", new_import_path) if can?(:create, Import) %></td>
  </tr>
  <tr>
    <th width="30%">Файл</th>
    <th width="25%">Время</th>
    <th width="25%">Количество</th>
    <th width="20%">Х</th>
  </tr>

  <% @imports.each do |import| %>
      <tr>
        <td><%= import.file_file_name %></td>
        <td><%= Russian::strftime(import.created_at, "%d %B %Y, %H:%m") %></td>
        <td>Создано <%= import.flats.size %> квартир</td>
        <td><%= link_to("Удалить", import, :confirm => "Будут удалены все квартиры по результатам данного импорта. Вы уверены?", :method => :delete) if can?(:destroy, import) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

