<table class="flats flats-admin" cellspacing="0">
  <tbody>
  <tr>
    <th width="20%">Файл</th>
    <th width="35%">Время</th>
    <th width="15%">Импортировано квартир</th>
    <th width="30%"></th>
  </tr>

  <tr>
    <td colspan="4"><center><%= link_to("Импортировать XLS", new_import_path, :target => "_blank") if can?(:create, Import) %></center></td>
  </tr>

  <% @imports.each do |import| %>
      <tr>
        <td><%= import.file_file_name %></td>
        <td><%= Russian::strftime(import.created_at, "%d %B %Y, %H:%m") %></td>
        <td><%= import.flats.size %></td>
        <td><%= link_to("Удалить результаты импорта", import, :confirm => "Будут удалены все квартиры по результатам данного импорта. Вы уверены?", :method => :delete) if can?(:destroy, import) %></td>
      </tr>
  <% end unless @imports.nil? %>
  </tbody>
</table>

