<% unless @tenders.nil? %>
    <table class="flats flats-admin" cellspacing="0">
      <tr class='even-first'>
        <th width="8%">№</th>
        <th width="17%">Имя</th>
        <th width="15%">Телефон</th>
        <th width="15%">Тип</th>
        <th width="15%">Агент</th>
        <th width="15%">Изменена</th>
        <th width="15%">Статус</th>
      </tr>
      <% @tenders.each_with_index do |tender, i| %>
          <tr>
            <td><%= can?(:edit, tender) ? link_to("#{tender.id}", edit_tender_path(tender), :target => "_blank") : link_to("+ #{tender.id}", tender_path(tender), :target => "_blank") %></td>
            <td><%= tender.name %></td>
            <td><%= tender.phone %></td>
            <td><%= FlatType.by_id(tender.flat_type) %></td>
            <td><%= tender.agent.name unless tender.agent.nil? %></td>
            <td><%= tender.updated_at.strftime("%d/%m %H:%M") %></td>
            <td><%= RentStatus.by_id(tender.client_status_id) %></td>
          </tr>
      <% end %>
    </table>
<% end %>