<table class="flats flats-admin" cellspacing="0">
  <tr>
    <th width="30%"><%= "ФИО" %></th>
    <th width="25%"><%= "Телефон" %></th>
    <th width="25%"><%= "Роль/Свой" %></th>
    <th width="20%"><%= "Вошел в систему" %></th>
  </tr>

  <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= link_to raw("#{user.full_name}"), "/user/#{user.id}/edit", :target => "_blank" %></td>
        <td><%= "#{user.phone}" %></td>
        <td><%= Role.by_id(user.role_id) %>, <%= user.internal? ? "+" : "-" %></td>
        <td><%= user.current_sign_in_at? ? user.current_sign_in_at.strftime("%d/%m %H:%M") : "не в сети" %></td>
      </tr>
  <% end unless @users.nil? %>
</table>
