<p class="social-links">
  <%= link_to image_tag("vk.png", :alt => "#{t('site_name')} Группа в контакте"), "http://vkontakte.ru/classicrent", :target => "_blank" %>
  <%= link_to image_tag("fb.png", :alt => "#{t('site_name')} Группа в Facebook"), "http://facebook.com/classicrent", :target => "_blank" %>
</p>

<p>
  <% if user_signed_in? %>
      <span>Вы вошли как <%= current_user.email %>
        / <%= link_to current_user.manager? ? "Рабочий кабинет" : "Личный кабинет", "/users/edit" %>
        / <%= link_to "Выйти", destroy_user_session_path, :method => :delete %></span>
  <% else %>
      <span>
      <%= link_to "Войти", new_user_session_path %> /
        <%= link_to "Зарегистрироваться", new_user_registration_path %>
          </span>
  <% end %>
  <br/>
  <span>&copy; 2011 Classic Rent. Все права защищены. Сделано в <a href="http://black-sheep.ru" target="_blank">Black Sheep</a></span>
</p>


