<div id="Header">
  <div class="header-holder">
    <div id="Logo"><a href="/">Classic Rent</a></div>
    <div id="Strip">
      <div class="strip-links">
        <p>
          <% if can?(:create, Static) %>
              <%= link_to "Акции", "/special" %>
          <% end %>
          <% if can?(:create, WelcomeImage) %>
              <%= link_to "Фон", welcome_images_path %>
          <% end %>
          <% if can?(:destroy, Tender) %>
              <%= link_to "Заявки", "/tenders" %>
          <% end %>
          <% @about_menu.each do |static| %>
              <%= link_to static.title, "/#{static.short_url}" %>
          <% end %>
        </p>
      </div>
    </div>
    <ul id="Navigation">
      <% @services_menu.each do |static| %>
          <li class="nav-item">
            <%= link_to static.title, "/#{static.short_url}", :class => ("active" if !@static.nil? && @static == static )%>
            <%#= raw "<a class='separator'>/</a>" if static != @services_menu.last %>
          </li>
      <% end %>
    </ul>
  </div>
</div>