<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="cufon-active cufon-ready" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= yield(:title).blank? ? '' : "#{yield(:title)} :: " %><%= t('site_name') %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="<%= yield(:title).blank? ? '' : "#{yield(:title)} :: " %><%= t('site_name') %>">
  <meta name="robots" content="index, follow">
  <meta name="language" content="ru">

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>
<body class="home">
<%= hidden_div_if(alert, :id => 'alert') { alert } %>
<%= hidden_div_if(notice, :id => 'notice') { notice } %>


<div id="Wrapper">

  <div id="Header">
    <div class="header-holder">
      <div id="Logo"><a href="/">Classic Rent</a></div>

      <ul class="order-welcome-info">
        <li><a href="skype:+74997557303?call">+7 (499) 75 57 303</a></li>
        <li><a href="skype:support.classicrent?call">skype.classicrent</a></li>
        <li><a href="mailto:mail@classicrent.ru">mail@classicrent.ru</a></li>
      </ul>

    </div>
  </div>

  <div id="Body">
    <%= yield %>
  </div>
  <div id="Footer">
    <p class="social-links">
      <%= link_to image_tag("vk.png", :alt => "#{t('site_name')} Группа в контакте"), "http://vkontakte.ru/classicrent", :target => "_blank" %>
      <%= link_to image_tag("fb.png", :alt => "#{t('site_name')} Группа в Facebook"), "http://facebook.com/classicrent", :target => "_blank" %>
    </p>

    <p>
      <% if user_signed_in? %>
      <span>Вы вошли как <%= current_user.email %>
        / <%= link_to (current_user.rieltor?) ? "Рабочий кабинет" : "Личный кабинет", "/users/edit" %>
        / <%= link_to "Выйти", destroy_user_session_path, :method => :delete %></span>
      <% end %>
      <br/>
      <span>&copy; 2011 Classic Rent. Все права защищены. Сделано в <a href="http://black-sheep.ru" target="_blank">Black
        Sheep</a></span>
    </p>
  </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28364227-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<div style="display: none;" id="lbOverlay"></div>
<div style="display: none;" id="lbCenter">
  <div id="lbImage">
    <div style="position: relative;"><a id="lbPrevLink" href="#"></a><a id="lbNextLink" href="#"></a></div>
  </div>
</div>
<div style="display: none;" id="lbBottomContainer">
  <div id="lbBottom"><a id="lbCloseLink" href="#"></a>

    <div id="lbCaption"></div>
    <div id="lbNumber"></div>
    <div style="clear: both;"></div>
  </div>
</div>
<%= yield :scripts %>
</body>
</html>